{% extends "layout.html.twig" %}
{% block content %}
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Flag</th>
			<th>Ranking</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for team in data %}
			<tr style="vertical-align: middle;">
				<td>
					{{team.getId()}}
				</td>
				<td onclick="window.location='/teams/{{ team.getId() }}'">
					{{team.getName()}}
				</td>
				<td>
					{{team.getFlag()}}
				</td>
				<td>
					{{team.getRanking()}}
				</td>
				<td>
					<img src="/assets/images/icons/edit.png" height="30px" class="edit" style="filter: invert(56%) sepia(21%) saturate(669%) hue-rotate(62deg) brightness(94%) contrast(96%);">
					<img src="/assets/images/icons/delete.png" height="30px" class="delete" style="filter: invert(70%) sepia(80%) saturate(5384%) hue-rotate(335deg) brightness(91%) contrast(88%);">
				</td>
			</tr>
		{% endfor %}
	</tbody>
</div>
{% endblock %}